
.cart_cont{
    display: flex;
    flex-direction: row ;
    margin-top: 80px;
}
.innerCart{
    margin-top: 80px;
}
.cartDetails{
    display: flex;
    justify-content: space-between;
}
.priceDetails{
  position: absolute;
  right: 0px;
    /* background-color: rgb(232, 239, 253) !important; */
}
.paymentSummery{
    background-color: rgb(217, 227, 247) !important;
}
.innerPriceDetails{
    border: 4px solid rgb(217, 227, 247);
}
.expires{
    background-color: rgb(238, 92, 92) !important;
}

.loading{
    font-size: 30px;
}