.checkoutInner{
   margin-top: 90px !important;
}
.subleft1{
   border: 1px solid rgb(0, 0, 0) !important;
}
.shiipingTitle{
   border-left: 4px solid red;
   background-color: rgb(240, 240, 241) !important;
}
.PaymentSummery_head{
   border-left: 4px solid rgb(83, 81, 255);
   background-color: powderblue !important;
}
.subrightsec{
   border:  2px solid rgb(213, 243, 248);
}
.subleft2{
   width: 100%;
  border: 1px solid black;
   /* background-color: rgb(223, 250, 253) !important; */
}
.cartDetails1{
   display: flex;
   justify-content: space-between;
   flex-direction: row !important;
}
.youtItems{
   background-color:rgb(240, 240, 241) !important; ;
}
.rightSec2{
   width: 100% !important;
   /* border:  2px solid rgb(213, 243, 248); */
}